<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover</key>
		<string>http://idiy.haier.com/upload/test/dc03480e-ffb8-4e52-b0e3-e633c409289b.jpg</string>
		<key>name</key>
		<string>固定图片高度</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x600</string>
		<key>name</key>
		<string>变化300</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x200</string>
		<key>name</key>
		<string>变化100</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x100</string>
		<key>name</key>
		<string>变化50</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x400</string>
		<key>name</key>
		<string>变化200</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x90</string>
		<key>name</key>
		<string>变化45</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://idiy.haier.com/upload/test/dc03480e-ffb8-4e52-b0e3-e633c409289b.jpg</string>
		<key>name</key>
		<string>固定图片高度</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x90</string>
		<key>name</key>
		<string>变化45</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x90</string>
		<key>name</key>
		<string>变化45</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://idiy.haier.com/upload/test/dc03480e-ffb8-4e52-b0e3-e633c409289b.jpg</string>
		<key>name</key>
		<string>固定图片高度</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x200</string>
		<key>name</key>
		<string>变化100</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x90</string>
		<key>name</key>
		<string>变化45</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>http://dummyimage.com/750x200</string>
		<key>name</key>
		<string>变化100</string>
		<key>type</key>
		<string>2</string>
	</dict>
</array>
</plist>
